@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 15px;
  background-color: hsl(240, 78%, 98%);
}

.linear-gradient {
  background: linear-gradient(90deg, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
}

.btn:hover {
  background: linear-gradient(
    90deg,
    hsla(0, 0%, 100%, 0),
    hsla(0, 0%, 100%, 0)
  );
  color: hsl(237, 63%, 64%);
}

.toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.checkbox {
  display: none;
}

.label {
  position: relative;
  background: linear-gradient(120deg, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 50px;
  padding: 5px;
  margin: 0 20px;
  width: 50px;
  height: 26px;
  cursor: pointer;
}

.name {
  font-size: 14px;
  color: hsl(234, 14%, 74%);
}

.ball {
  background: #fff;
  position: absolute;
  top: 2px;
  left: 2px;
  border-radius: 50%;
  width: 22px;
  height: 22px;
  transition: transform 0.15s linear;
}

.checkbox:checked + .label .ball {
  transform: translateX(24px);
}

.attribution {
  margin-top: 1.5rem;
  font-size: 12px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
